<div id="<%= dom_id mention %>">
  <p>
    <strong>Mentioning report:</strong>
    <%= mention.mentioning_report_id %>
  </p>

  <p>
    <strong>Mentioned report:</strong>
    <%= mention.mentioned_report_id %>
  </p>

</div>
