<div id="<%= dom_id report %>">
  <p>
    <strong>Title:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%#= auto_link(simple_format(h(report.content)), link: :urls, html: { target: '_blank', rel: 'noopener noreferrer' }) %>
    <%= raw Rinku.auto_link(simple_format(h(report.content)), :urls, 'target="_blank" rel="noopener noreferrer"',nil, Rinku::AUTOLINK_SHORT_DOMAINS) %>
  </p>

</div>
